/*Bases*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Inter', sans-serif;
}

header{
    position: fixed;
    background-color: #FFF2AC;
    width: 120%;
    right: -50px;
    padding: 35px;
}

nav{
    position: sticky;
    top: 50px;
    padding: 10px;
}

nav ul{
    list-style: none;
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

nav li a{
    text-decoration: none;
    background-color: #D3E7E9;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}
body{
    position: absolute;
    right: 50px;
    left: 50px;
}
/*Classes*/
.atual{
    background-color: #5096FF;
    color: white;
    border: #5096FF;
    border-radius: 5px;
}

.navegar{
    background-color: #D3E7E9;
    border: #D3E7E9;
    border-radius: 5px;
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
}

.pesquisar{
    background: #fff;
    position: absolute;
    left: 75%;
    top: 30%;
    height: 10px;
    max-width: 360px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.conteudol{
    max-width: 780px;  
    width: 70%; 
    padding: 10px;
}

.img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    padding-bottom: 50px;
}

.img2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
    padding-top: 50px;
    padding-bottom: 50px;
} 

.imglateral{
    position: absolute;
    width: 30%;
    float: right;
    right: 10px;
    width: 630px; 
    height: 260px;
}